<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70000</string>
	<string>do1.caf</string>
	<string>61</string>
	<string>61</string>
	<string>mib1.caf</string>
	<string>64</string>
	<string>64</string>
	<string>fad1.caf</string>
	<string>67</string>
	<string>67</string>
	<string>la1.caf</string>
	<string>70</string>
	<string>70</string>
	<string>do2.caf</string>
	<string>73</string>
	<string>73</string>
	<string>mib2.caf</string>
	<string>76</string>
	<string>76</string>
	<string>fad2.caf</string>
	<string>79</string>
	<string>79</string>
	<string>la2.caf</string>
	<string>82</string>
	<string>82</string>
	<string>do3.caf</string>
	<string>85</string>
	<string>85</string>
	<string>mib3.caf</string>
	<string>88</string>
	<string>88</string>
	<string>fad3.caf</string>
	<string>91</string>
	<string>91</string>
	<string>la3.caf</string>
	<string>96</string>
	<string>96</string>
</array>
</plist>
